<div class="container">
  <div class="card" style="width: 80rem;">
      <img src="assets\images\slid\011.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">แหลมพรหมเทพ</p>
        <p class="card-text"> อีกหนึ่งที่เที่ยวในเมืองภูเก็ต ที่ห้ามพลาดเลยก็คือ แหลมพรหมเทพ บอกเลยว่าที่นี่ถูกยกให้เป็น จุดชมพระอาทิตย์ตก ที่สวยเป๋นอันดับต้นๆ ในประเทศไทยเลยทีเดียวค่ะ แนะนำให้ไปเที่ยวที่นี่ในช่วงเย็น เพื่อไปชมความสวยงามของพระอาทิตย์ตก รับลมทะเลเย็นๆ แถมบรรยากาศยังโรแมนติกอีกด้วย</p>
      </div>
    </div>

    <div class="card" style="width: 80rem;">
      <img src="assets\images\slid\022.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">จุดชมวิว ผาหินดำ</p>
        <p class="card-text">มา Unseen ภูเก็ตกันต่อที่ จุดชมวิว ผาหินดำ เป็นจุดชมวิวที่สวยอลังการสุดๆ แบบ 360 องศาสามารถมองเห็นเกาะต่างๆ โดยรอบทั้ง อ่าวฉลอง เกาะเฮ เกาะโหลน แหลมพรหมเทพ หาดยะนุ้ย จุดชมวิวกังหันลม หาดในหาน เกาะแก้วพิสดาร และเกาะไม้ท่อน ได้ครบในที่เดียวเลยค่ะ บอกเลยว่า สายถ่ายรูปต้องถูกใจ อีกทั้งยังเป็นที่เที่ยวที่คนยังไม่ค่อยรู้จักกันมากนัก ได้รูปสวยสวยๆ อันซีนแบบที่ไม่ค่อยได้เห็นแน่นอน!</p>
      </div>
    </div>

    <div class="card" style="width: 80rem;">
      <img src="assets\images\slid\033.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">เกาะเฮ</p>
        <p class="card-text">เกาะที่นักเที่ยวนิยมมาเที่ยวอีกแห่งหนึ่งในภูเก็ต เพราะเป็นเกาะที่เดินทางไปไม่ยากจากตัวเมือง โดยนั่งเรือสปีดโบ๊ทเพียง 15-20 นาทีเท่านั้นก็ถึงเกาะแล้วค่ะ ที่นี่เป็นหาดทรายที่สวยงาม ทรายขาวนวล เนื้อละเอียด เดินย่ำแล้วนุ่มเท้าสุดๆ อีกทั้งยังมีน้ำทะเลใสๆ ให้เราได้เที่ยวชิล ถ่ายรูปสวยๆ นอนอาบแดด พายเรือคายัค งานนี้ บิกินี่ต้องมาแล้วจ้า!</p>
      </div>
    </div>
